<div class="mt-5 mx-auto w-75">
  <div class="card">
    <div class="card-body">
      ふぁにーboxとは、趣味でつながるほげほげです。
    </div>
  </div>
</div>
<div class='text-center border border-warning border-3 rounded-pill w-50 py-2 mt-5 mx-auto'>
  <div class='px-3'>今日のやりたいことをガチャで決めてみませんか？</div>
  <%= link_to 'ガチャを回す', capsule_toys_path, class: 'btn btn-primary mt-3' %>
</div>
<h2 class="mt-5 text-center">ホットなグループ</h2>

<div class="row mt-5">
    <%= render @groups %>
</div>