<div class="mt-5 mx-auto w-75">
  <div class="card mb-10">
    <div class="card-body">
      ふぁにーboxとは、趣味でつながるほげほげです。
    </div>
  </div>
</div>

<div class="row">
  <% @groups.each do |group| %>
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title"><%= group.name %></h5>
          <p class="card-text"><%= group.description %></p>
          <%= link_to "グループの中を見る", group_path(group), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>