<% provide(:button_text, '更新') %>

<div class="card mb-3">
  <div class="card-header">
    グループ情報編集
  </div>
  <div class="card-body">
    <%= render 'form' %>
  </div>
</div>

<%= link_to "一覧へ戻る", groups_path %>