
<div class="d-flex justify-content-between mb-3">
  <h2>グループ一覧</h2>
  <%= link_to "新規グループ作成", new_group_path , class: "btn btn-primary" %>
</div>

<div class="row">
  <%= render @groups %>
</div>

<%= paginate @groups, theme: 'twitter-bootstrap-4' %>

