<h1>グループ一覧</h1>

<% @groups.each do |group| %>
  <%= link_to group.name, group_path(group.id) %>
  <%= button_to button_text(group), add_user_path(group.id) %>
<% end %>

<%= link_to "新規グループ作成", new_group_path %>